* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0 100px;
    height: 100vh;
    width: 100%;
}

.conteiner {
    max-width: 1300px;
    
}

header {
    height: 80px;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid rgba(226, 220, 220, 0.9);
    
}

header nav {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 
 width: 100%;
 
}

header nav .logo{
    cursor: pointer;
    
}

header nav ul {
    display: flex;
    margin-left: -90px;
}

header nav ul li {
    margin-right: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 13px;
    color: rgba(175, 171, 171, 0.9);
    position: relative;
    
}

header nav ul li a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(240, 116, 15);
    top: 40px;
    left: 0;
    position: absolute;
    margin-top: 5px;
}

header nav ul li a:hover {
    color: rgb(12, 12, 12);

}

header nav ul li a:hover::after {
    width: 100%;
}

header nav ul .fecharmenu {
    display: none;
    position:relative;
    bottom: 50px;
    cursor: pointer;
} 

header nav .icones {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav .icones .icon1 img {

}

header nav .icones .icon1 .valorcar {
    width: 14px;
    height: 13px;
    background-color: rgb(240, 116, 15);
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    display: none;
   
}

header nav .icones .icon1, .icon2 {
    cursor: pointer;
}

header nav .icones .icon2 {
    margin-left: 20px;
    
}

header nav .icones .icon2 img {
    width: 35px;
    height: 35px;
}

header nav .icones .icon2 img:hover {
    border: 2px solid rgb(240, 116, 15);
    border-radius: 50%;
}

header nav .icones .caixatexto {
   position: absolute;
   width: 250px;
   height:180px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: 2px 2px 3px black;
   border-radius: 7px;
   top: 60px;
   right: 100px;
   display: none;
}


header nav .icones .caixatexto .titulocaixa {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 0.5px solid rgba(209, 206, 206, 0.9);
    padding: 15px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}

header nav .icones .caixatexto .imgproduto {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

header nav .icones .caixatexto .caixacompra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    visibility:hidden
} 
    
header nav .icones .caixatexto div p {
    font-size: 11px;
    border: none;
    color: rgb(209, 206, 206)
}

header nav .icones .caixatexto .imgdeleta {
   display: block;
   width: 15px;
   height: 15px;
   cursor: pointer;
}

header nav .icones .caixatexto .frasecarrinho {
    color: rgb(87, 86, 86);
    border-bottom: none;
    font-size: 12px;
    font-weight: 600;
    margin: 0px 70px;
    display: block;
    
}

header nav .icones .caixatexto button {
    width: 200px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(240, 116, 15);
    border-radius: 7px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    margin-left: 25px;
    margin-top: 10px;
    display: none
}

.menu_icon {
    cursor: pointer;
    display: none;
}

main {
    margin-top: 70px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    

}

.flex .imagem {
    width: 50%;
    
    
}

.flex .imagem img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.flex .info {
    margin-top: 40px;
    width: 50%;
    }

.flex .info .p1 {
    font-weight: bold;
    color:rgb(240, 116, 15);
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.flex .info h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.flex .info .p2 {
   font-size: 13px;
   color: gray;
   margin-bottom: 30px;
   line-height: 20px;
}


.flex .info .valores {
    display: flex;
    
}

.flex .info .btns {
    display: flex;
}

.flex .info .preco {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.flex .info .promo {
    display: inline-block;
    padding-top: 2px;
    width: 40px;
    height: 20px;
    background-color: rgba(175, 171, 171, 0.2);
    color: rgb(240, 116, 15);
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

.flex .info .qntd {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(175, 171, 171, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.flex .info .qntd p {
    display: block;
}

.flex .info .qntd .menos {
    cursor: pointer;
    display: block;
    width: 10px;
    height: 4px;
}

.flex .info .qntd .mais {
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
}

.flex .info button {
    width: 190px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(240, 116, 15);
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}

.flex .info button:hover {
    background-color: rgb(250, 154, 75);
}

.flex .info button img {
    margin-right: 10px;
    color:white;
    display: inline-block;
    width: 15px;
}

.cards {
    display: flex;
    margin-top: -40px;
    
    
}

.cards .card {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-right: 20px;
    background-color: black;
    

}

.cards .card img {
    height: 60px;
    width: 60px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}



/*******************************************/
/*modal*/

.fundomodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    display:none;
    
}


.modal {
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    height: 100%;
    max-width: 90%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

 .modal .imagem #img_principalmodal{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    
}

.modal .cards {
    margin-top: 20px;
}


.modal #fecharmodal{
    bottom: 520px;
    left: 180px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal #previmgmodal{
    bottom: 330px;
    right: 200px;
    cursor: pointer;
    display: block;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal #nextimgmodal{
    bottom: 371px;
    left: 200px;
    cursor: pointer;
    display: block;
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1100px){
    .conteiner {
        margin: 0 auto;
        padding: 0 auto;
    }

    .flex {
        max-width: 1000px;
        margin: 0 auto;
        
    }

    .flex .imagem {
        width: 40%;
    }

    .flex .info {
        width: 60%;
    }

    .fundomodal {
        padding: 0 auto;
    }

   
}



@media (max-width:946px) {

    .menu_icon {
        display: block;
        margin-right: 15px;
        
        
    }

    .logoMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        position: fixed;
        width: 60%;
        height: 100%;
        top:0;
        left:0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        padding-top: 120px;
        flex-direction: column;
        transition: 0.3s ease-in;
        background-color: #f9f9ff;
        text-align: center;
        
        
    }

    

    header nav {
        justify-content: space-between;
        padding: 0 20px 0 20px;
        
       }

    header nav ul li a {
        color: black;
        font-size: 16px;
        font-weight: 600;
    }

    header nav ul li a::after {
        top: 10px;

    }

    nav ul.active {
        transform: translateX(0);

    }

    nav ul li {
        padding: 10px;
    }

    nav ul li a {
        font-size: 18px;
        color: white;
    }

    header nav ul .fecharmenu {
        margin-left: -80px;
    }


    .cards {
        margin-top: -35px;  
    }
}


@media (max-width:909px){


    body {
        padding: 0px;
        
    }

    main {
        margin-top: 0px;
    }     
    
    header nav .icones .caixatexto {
        right: 20px;
    }


    nav ul {
        padding-left: 100px;
         
     }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }


    .flex .imagem {
            width: 100%;
        }
        
    .flex .imagem img{
            width: 100%;
            height: 400px;
            border-radius: 0px;
            cursor: pointer;
            padding-left: 0px;
        }
        
    .flex .info {
            width: 100%;
            padding-left: 30px;
        }


    .cards {
        display: none;
    } 

    .btns {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        padding-bottom: 70px;
       
    }

    .flex .info .qntd {
        width: 80%;
        height: 60px;
        margin-bottom: 20px;
      
 }

    .flex .info button {
        width: 80%;
        height: 60px;
        margin-left: 0px;
        font-size: 16px;
        
} 

    .flex .info button img {
        width: 20px;
        
        
}

.modal #fecharmodal{
    bottom: 440px;
    left: 180px;
}


.modal #previmgmodal{
    bottom: 250px;
    right: 200px;
}

.modal #nextimgmodal{
    bottom: 290px;
    left: 200px;
}

}


@media (max-width:600px){

    
    header nav .icones .caixatexto {
        
        width: 95%;
        height: 350px;
        top: 100px;
        right: 2.7%;
     }

    header nav .icones .caixatexto .titulocaixa {
        height: 60px;
    }

    header nav .icones .caixatexto .frasecarrinho {
        margin: 5px 35%;
        width: 100%;
        font-size: 16px;
        
    }

    header nav .icones .caixatexto .titulocaixa {
        font-size: 15px;
    }
    
    header nav .icones .caixatexto .caixacompra {
        margin-bottom: 50px;
    }

    header nav .icones .caixatexto .imgproduto {
        width: 60px;
        height: 60px; 
    }
        
    header nav .icones .caixatexto div p {
        font-size: 17px;
        color: gray;
    }
    
    header nav .icones .caixatexto .imgdeleta {
       width: 20px;
       height: 20px;
    }

    header nav .icones .caixatexto button {
        width: 80%;
        height: 60px;
        margin: 0 auto;
    }

    nav ul {
       padding-left: 70px;
        
    }

    .modal .imagem #img_principalmodal{
        width: 370px;
        height: 400px;
    }

    .modal #previmgmodal{ 
        width: 35px;
        height: 35px;
        margin-left: 35px;
    }
    
    .modal #nextimgmodal{
        width: 35px;
        height: 35px;
        margin-right: 35px;
    }
}


@media (max-width:360px) {
    .modal .imagem #img_principalmodal{
        width: 330px;
        height: 400px;
    }

    .modal #fecharmodal {
        margin-right: 65px;
    }

    .modal #previmgmodal{ 
        width: 35px;
        height: 35px;
        margin-left: 85px;
    }
    
    .modal #nextimgmodal{
        width: 35px;
        height: 35px;
        margin-right: 85px;
    }
   
}